body {
  font-family: 'Roboto', sans-serif;
  color: #0c0c0c;
  background-color: #fffffe;
  overflow-x: hidden;
  background-image: url('1.jpg');
}

.layout_padding {
  padding: 90px 0;
}

.layout_padding2 {
  padding: 75px 0;
}

.layout_padding2-top {
  padding-top: 75px;
}

.layout_padding2-bottom {
  padding-bottom: 75px;
}

.layout_padding-top {
  padding-top: 90px;
}

.layout_padding-bottom {
  padding-bottom: 90px;
}

.heading_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.heading_container h2 {
  position: relative;
  font-weight: bold;
}

.heading_container h2 span {
  color: #00c6a9;
}

.heading_container.heading_center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}


.hero_area {
  position: relative;
 
}

.sub_page .hero_area {
  height: auto;
}

.sub_page .header_section {
  margin-top: 0;
}

.header_section .header_top {
  padding: 15px 0;
}

.header_section .header_top .contact_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header_section .header_top .contact_nav a {
  margin-right: 25px;
  color: #555555;
}

.header_section .header_top .contact_nav a i {
  color: #050500;
}

.header_section .header_bottom {
  background-color:#000000;
}

.header_section .header_bottom .container-fluid {
  padding-right: 25px;
  padding-left: 25px;
}

.navbar-brand {
  background-color: #ffffff;
  padding: 15px 35px;
}

.navbar-brand img {
  width: 55px;
}

.custom_nav-container {
  padding: 0;
}

.custom_nav-container .navbar-nav .nav-item .nav-link {
  padding: 3px 5px;
  margin: 20px 15px;
  color: #ffffff;
  text-align: center;

  font-family: 'Autour One', cursive;
}

.custom_nav-container .navbar-nav .nav-item:hover .nav-link {
  color: #f5d93e;
 
}

#user_name{
  color: #f5d93e;
  padding-top: 200px;
  padding-left:400px ;
  font-family: 'Autour One', cursive;
}



.team_section {
  background-color: #ffffffda;
  

}


.team_section .heading_container {
  margin-bottom: 45px;
}

.team_section .heading_container h2 {
  color: #a00808;
  text-transform: uppercase;
  margin: 0;
}

.team_section .heading_container h2 span {
  color: #f9c10b;
}

.team_section .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding: 0 10px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, transparent), color-stop(10%, #ffffff));
  background: linear-gradient(to bottom, transparent 10%, #f9c10bb7 10%);
}

.team_section .box .img-box img {
  width: 100%;
}

.team_section .box .detail-box {
  padding: 15px;
  border-radius: 10px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.team_section .box .detail-box h5 {
  font-weight: bold;
  color: #c62e00;
}

.team_section .box .detail-box h6 {
  color: #c62e00;
}

.team_section .box .detail-box .social_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team_section .box .detail-box .social_box a {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  margin: 0 2.5px;
  color: #000000;
text-decoration: underline;
  font-family: 'Autour One', cursive;
}

.team_section .team_carousel {
  margin-top: 45px;
  padding: 0 45px;
}

.team_section .team_carousel .owl-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

.team_section .team_carousel .owl-nav button {
  position: absolute;
  top: 50%;
  width: 50px;
  height: 50px;
  background-color: #000000;
  outline: none;
  color: #ffffff;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 28px;
  font-weight: bold;
}

.team_section .team_carousel .owl-nav button:hover {
  background-color: #f3c93e;
  color: #ffffff;
}

.team_section .team_carousel .owl-nav button.owl-prev {
  left: -25px;
}

.team_section .team_carousel .owl-nav button.owl-next {
  right: -25px;
}



.footer_section {
  position: relative;
  background-color: #252525;
  text-align: center;
}

.footer_section p {
  color: #ffffff;
  padding: 25px 0;
  margin: 0;
}

.footer_section p a {
  color: inherit;
}
