body{
    margin-top:20px;
    color: #a00b0b;
    text-align: left;
    background-color: #000000d3; 
    /* background-image:url('../image/u_detail_bg.jpg'); */
    background-image: url('../image/u_detail_bg.jpg');
    font-family: 'Noto Sans NKo Unjoined', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Young Serif', serif;  
}
.main-body {
    padding: 75px;
}
.card {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #ffffffe0;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: 2rem;
    color: rgb(10, 28, 112);
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 2rem;
    
}

.gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
}

.gutters-sm>.col, .gutters-sm>[class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
}
.mb-3, .my-3 {
    margin-bottom: 1rem!important;
}

.bg-gray-300 {
    background-color: #e2e8f0;
}
.h-100 {
    height: 100%!important;
}
.shadow-none {
    box-shadow: none!important;
}
.btn1{
    background-color:#0d084e;
    padding: 10px;
    border-radius: 10px;
    color: #ffffff;
    text-decoration: none;
    
    

}
.btn1:hover{
    background-color:#ffffff;
    padding: 10px;
    border-radius: 10px;
    color: #0d084e;
    text-decoration: none;
}