<!DOCTYPE html>
<html lang="en">
<head>
  
    <title>Customized Measurement</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Croissant+One&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gabarito:wght@800&display=swap" rel="stylesheet">
<link rel="stylesheet" href="customized.css"> 
</head>
<body>
    <div class="navbar">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Design</a></li>
            <li><a href="#">Fabric</a></li>
            <li><a href="#">Measurement Tutorial</a></li>
        </ul>
       <h3>Hello,User</h3>
    </div>
    
    <form action="" method="post">
        
        <h3>Customized Measurement</h3>
       
        <label for="length">Length</label>
        <input type="text" placeholder="length" name="length" id="length">

        <label for="body">Body Length</label>
        <input type="text" placeholder="Bodylength" name="body" id="body">

        <label for="shoulder">Shoulder Length</label>
        <input type="text" placeholder="Shoulder length" id="shoulder" name="shoulder">

        <label for="waist">Waist Length</label>
        <input type="waist" placeholder="Waist Length" id="waist" name="waist">


        <label for="hip">Hip Length</label>
        <input type="text" placeholder="Hip length" id="hip" name="hip">
        <label for="neck">Neck</label>
        <input type="text" placeholder="neck" name="neck" id="neck">

        <center>
            <button type="submit">Submit</button>
        </center>
       
    </form>
</body>
</html>