{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Design Details for Kameez</title>
    <link rel="stylesheet" href="{% static 'css/d_details_kameez.css' %}">
</head>
<body>
    <div class="pagination">
        <a id="navi" href="#">Home</a>
    </div>
    <section class="product-container">
        <div class="img-card">
            <img src="{{design_list.dk_image1.url}}" alt="" id="featured-image">
            <div class="small-Card">
                <img src="{{design_list.dk_image1.url}}" alt="" class="small-Img">
                <img src="{{design_list.dk_image2.url}}" alt="" class="small-Img">
                <img src="{{design_list.dk_image3.url}}" alt="" class="small-Img">
                
            </div>
        </div>
        <div class="product-info">
            <h3>{{design_list.dk_name}}</h3>
            <h5>Tailor Cost: {{design_list.dk_price}}</h5>
            <div>
                
                <div class="delivery">
                    <p>TYPE</p>
                </div>
                <hr>
                <div class="delivery">
                    <p>Dress Type</p> 
                    <p>{{design_list.dk_type}}</p> 
                    
                </div>
                <hr>
                <div class="delivery">
                    <p>Neck DEsign</p> 
                    <p>{{design_list.dk_neck}}</p> 
                    
                </div>
                <hr>
                <div class="delivery">
                    <p>Sleeve</p> 
                    <p>{{design_list.dk_sleeve}}</p> 
        
                </div>
            </div>

            <div class="sizes">
                <p>Size:</p>
                <select name="Size" id="size" class="size-option">
                    <option value="32">32</option>
                    <option value="34">34</option>
                    <option value="36">36</option>
                    <option value="40">40</option>
                    <option value="42">42</option>
                </select>
            </div>

            <div class="quantity">
                <a id="buttona" href = "measurement-kameez">Place Order</a>
            </div>

            
        </div>
    </section>
    <script src="{% static 'js/cart.js' %}"></script>
</body>
</html>