<!DOCTYPE html>
<html lang="en">
   <head>
      
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      
      <title>Fabric</title>
      
      
      <link rel="stylesheet" type="text/css" href="css/fabricbootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="css/fabric.css">
      <link rel="stylesheet" href="css/fabricresponsive.css">
      
      <!-- <link rel="icon" href="images/fevicon.png" type="image/gif" />
      <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css"> -->
      
      <link href="https://fonts.googleapis.com/css?family=Great+Vibes|Open+Sans:400,700&display=swap&subset=latin-ext" rel="stylesheet">
      
      <link rel="stylesheet" href="css/fabricowl.carousel.min.css">
      <link rel="stylesheet" href="css/fabricowl.theme.default.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
      <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
   </head>
   <body>
      <div class="header_section">
         <div class="container-fluid">
            <nav class="navbar navbar-light bg-light justify-content-between">
               <div id="mySidenav" class="sidenav">
                  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                  <a href="#">Home</a>
                  <a href="#">Fabric</a>
                  <a href="#">Measurement Tutorial</a>
               
               </div>
               <span class="toggle_icon" onclick="openNav()"><img src="images/toggle-icon.png"></span>
            
               <form class="form-inline ">
                  <div class="login_text">
                     <ul>
                        <li><a href="#"><img src="images/user-icon.png"></a></li>
                        <li><a href="#"><img src="images/bag-icon.png"></a></li>
                        <li><a href="#"><img src="images/search-icon.png"></a></li>
                     </ul>
                  </div>
               </form>
            </nav>
         </div>
      </div>
    
      <div class="banner_section layout_padding">
         <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
               <div class="carousel-item active">
                  <div class="container">
                     <div class="row">
                        <div class="col-sm-6">
                           <h1 class="banner_taital">Stichify</h1>
                           <p class="banner_text">"Seamlessly Stitch Your Style with our Tailoring App - Where Every Stitch Tells a Story!"</p>
                           <div class="read_bt"><a href="#">Order Now</a></div>
                        </div>
                        <div class="col-sm-6">
                           <div class="banner_img"><img src="fabric1.jpg"></div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="carousel-item">
                  <div class="container">
                     <div class="row">
                        <div class="col-sm-6">
                           <h1 class="banner_taital">Stichify <br>Kit</h1>
                           <p class="banner_text">"Your Fashion, Your Way: Our Tailoring App - Where Style Meets Convenience!"</p>
                           <div class="read_bt"><a href="#">Order Now</a></div>
                        </div>
                        <div class="col-sm-6">
                           <div class="banner_img"><img src="fabric2.jpg"></div>
                        </div>
                     </div>
                  </div>
               </div>
               
               <div class="carousel-item">
                  <div class="container">
                     <div class="row">
                        <div class="col-sm-6">
                           <h1 class="banner_taital">Stichify</h1>
                           <p class="banner_text">"Elevate Your Wardrobe, One Stitch at a Time – Tailor Your Dreams with Our App!"</p>
                           <div class="read_bt"><a href="#">Buy Now</a></div>
                        </div>
                        <div class="col-sm-6">
                           <div class="banner_img"><img src="fabric3.jpg"></div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      

      <div class="product_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-sm-12">
                  <h1 class="product_taital">Our Fabric</h1>
                 
               </div>
            </div>
            <!-- for loop chalaite hobe -->
            <div class="product_section_2 layout_padding">
               <div class="row">
                  <div class="col-lg-3 col-sm-6">
                     <div class="product_box">
                        <h4 class="bursh_text">fabric name</h4>
                        
                        <img src="1.jpeg" class="image_1" alt="pic">
                        <p class="lorem_text">eikhane fabric er type text </p>
                        <div class="btn_main">
                           <div class="buy_bt">
                              <ul>
            
                              <li><a href="#">Buy Now</a></li>
                              </ul>
                           </div>
                           <h3 class="price_text">Price $30</h3>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <!-- for loop end -->
         </div>
      </div>

      <script src="js/fabricjquery.min.js"></script>
      <script src="js/fabricpopper.min.js"></script>
      <script src="js/fabricbootstrap.bundle.min.js"></script>
      <script src="js/fabricjquery-3.0.0.min.js"></script>
      <script src="js/fabricplugin.js"></script>
      
      <script src="js/fabricjquery.mCustomScrollbar.concat.min.js"></script>
      <script src="js/fabriccustom.js"></script>
      
      <script src="js/fabricowl.carousel.js"></script>
      <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>  
      <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
      <script>
         function openNav() {
           document.getElementById("mySidenav").style.width = "100%";
         }
         
         function closeNav() {
           document.getElementById("mySidenav").style.width = "0";
         }
      </script> 
   </body>
</html>