{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <title>Shirt Measurement</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Croissant+One&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gabarito:wght@800&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/shirt.css' %}"> 
</head>
<body>
    <div class="navbar">
        <ul>
            <li><a href="http://127.0.0.1:8000/homepage/">Home</a></li>
            <li><a href="http://127.0.0.1:8000/homepage/design/">Design</a></li>
            <li><a href="http://127.0.0.1:8000/homepage/fabric/">Fabric</a></li>
            <li><a href="http://127.0.0.1:8000/homepage/#section_4">Measurement Tutorial</a></li>
        </ul>
        <h3>Hello,User</h3>
    </div>
    
    <form action="" method="post">
        
        <h3>Shirt's Measurement</h3>

        <label for="c_length">Collar Length</label>
        <input type="text" placeholder="Collar Length" name="c_length" id="c_length">

        <label for="s_lenght">Sleeve Length</label>
        <input type="text" placeholder="s_length" name="s_length" id="s_length">

        <label for="shoulder">Shoulder Length</label>
        <input type="text" placeholder="Shoulder length" id="shoulder" name="shoulder">

        <label for="bicep">Bicep</label>
        <input type="text" placeholder="bicep" id="bicep" name="bicep">


        <label for="chest_length">Chest Length</label>
        <input type="text" placeholder="chest length" id="chest_length" name="chest_length">
        
        <label for="hip_length">hip Length</label>
        <input type="text" placeholder="hip_length" name="hip_length" id="hip_length">
        

        <center>
            <button type="submit">Submit</button>
        </center>

    </form>
</body>
</html>