<!DOCTYPE html>
<html lang="en">
<head>
  
    <title>Kameez Measurement</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Croissant+One&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gabarito:wght@800&display=swap" rel="stylesheet">
<link rel="stylesheet" href="kameez.css"> 
</head>
<body>
    <div class="navbar">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Design</a></li>
            <li><a href="#">Fabric</a></li>
            <li><a href="#">Measurement Tutorial</a></li>
        </ul>
       <h3>Hello,User</h3>
    </div>
    
    <form action="" method="post">
        
        <h3>Kameez's Measurement</h3>
       
        <label for="length">Length</label>
        <input type="text" placeholder="length" name="length" id="length">

        <label for="body">Body Length</label>
        <input type="text" placeholder="length" name="body" id="body">

        <label for="shoulder">Shoulder Length</label>
        <input type="text" placeholder="length" id="shoulder" name="shoulder">

        <label for="waist">Waist Length</label>
        <input type="waist" placeholder="waist_length" id="waist" name="waist">


        <label for="hip">Hip Length</label>
        <input type="text" placeholder="hip_length" id="hip" name="hip">
        <label for="hand_length">Hand Width</label>
        <input type="text" placeholder="hand_width" name="hand_length" id="hand_length">
        <label for="neck_length">Neck Length</label>
        <input type="text" placeholder="neck_length" name="neck_length" id="neck_length">
        <label for="neck_width">Neck Width</label>
        <input type="text" placeholder="neck_width" name="neck_length" id="neck_width">

        <center>
            <button type="submit">Submit</button>
        </center>
       
    </form>
</body>
</html>