<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="payment_method.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Young+Serif&display=swap" rel="stylesheet">
  <body>
    <h1 id="header_s">Payment Method</h1>
    <p></p>
    <div id="div1">
      <div id="rock1"></div>
      <div id="rock2"></div>
      <div id="rock3"></div>
      <div id="rock4"></div>
      <div id="rock5"></div>
      <div id="rock6"></div>
      <div id="rock7"></div>
      <div id="rock8"></div>
      <div id="diva1">
        <!-- <img id="img1" src="https://image.flaticon.com/icons/png/512/78/78075.png"> -->
        <div id="divaa1">
          <a id="btna1" href="#">payment</a>
          <img id="img2" src="cash.png">
          <div id="divaaa1"></div>
        </div>
        <div id="divaa2">
          <img id="img3" src="creditcard.jpg">
          <div id="divaaa2"></div>
          <a id="btnb1" href="#">payment</a>
          <!-- <input id="btnb1" type="button" value="Phone">
          <input id="btnb2" type="button" value="Call"> -->
        </div>
        <!-- <div id="divaa3">
          <input id="btnc1" type="button" value="About">
          <input id="btnc2" type="button" value="Creator" onclick=>
          <input id="btnc3" type="button" value="More">
          <img id="img3" src="https://image.flaticon.com/icons/svg/32/32175.svg">
          <div id="divaaa3"></div>
          <div id="divaaa4"></div>
        </div> -->
      </div>
    </div>
    </body>
</html>