{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Profile Update</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Croissant+One&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gabarito:wght@800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/update_profile.css' %}"> 
</head>
<body>
    <div class="navbar">
        <ul>
            <li><a href="http://127.0.0.1:8000/homepage/">Home</a></li>
            <li><a href="#">Design</a></li>
            <li><a href="#">Fabric</a></li>
            <li><a href="#">Measurement Tutorial</a></li>
        </ul>
        <h3>
            Hello,User
            {% comment %} <a href="logout">Logout</a> {% endcomment %}
        </h3>
        {% comment %} <h3> <a href="logout">Logout</a> </h3> {% endcomment %}
        {% comment %} <ul>
            <li><a href="logout">Logout</a></li>
        </ul> {% endcomment %}
    {% comment %} </div>
        <ul>
            <li><a href="logout">Logout</a></li>
        </ul>
    <div> {% endcomment %}
        
    </div>
    
    <form action="" method="post">
        {% csrf_token %}
        <h3>Update Profile</h3>

        <label for="first_name">First Name</label>
        <input type="text" placeholder="First name" name="first_name" id="first_name" value = {{user.first_name}}>
        
        <label for="last_name">Last Name</label>
        <input type="text" placeholder="Last name" name="last_name" id="last_name" value = {{user.last_name}}>

        <label for="email">Email</label>
        <input type="email" placeholder="Email" name="email" id="email" value = {{user.email}}>

        <label for="address">Address</label>
        <input type="address" placeholder="Address" id="address" name="address" value = {{data.u_address}}>

        <label for="number">Number</label>
        <input type="number" placeholder="COntact Number" id="number" name="number" value = {{data.u_cont_number}}>

        <label for="gender">Gender</label>
        {% comment %} <input type="radio" name="gender" value="male">Male
        <input type="radio" name="gender" value="female">Female
        <input type="radio" name="gender" value="other">Other {% endcomment %}
        <select name="gender" id="gender" class="gender-dropdown">
            <option value="">--Select Gender--</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="Other">Other</option>
        </select>
        {% comment %} <label for="password1">Password*</label>
        <input type="password" placeholder="Password" id="password1" name="password1">


        <label for="password2">Confrom Password*</label>
        <input type="password" placeholder="Confrom Password" id="password2" name="password2"> {% endcomment %}
        <center>
            <button type="submit" name = "changeprofile">Submit</button>
        </center>

    </form>
</body>
</html>