<!DOCTYPE html>
<html lang="en">
<head>
  
    <title>Profile Update</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Croissant+One&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gabarito:wght@800&display=swap" rel="stylesheet">
<link rel="stylesheet" href="update_profile.css"> 
</head>
<body>
    <div class="navbar">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Design</a></li>
            <li><a href="#">Fabric</a></li>
            <li><a href="#">Measurement Tutorial</a></li>
        </ul>
       <h3>Hello,User</h3>
    </div>
    
    <form action="" method="post">
        
        <h3>Update Profile</h3>

        <label for="name">Name</label>
        <input type="text" placeholder="name" name="username" id="username">

        <label for="email">Email</label>
        <input type="email" placeholder="Email or Phone" name="email" id="email">

        <label for="address">Address</label>
        <input type="address" placeholder="Address" id="address" name="address">

        <label for="password1">Password*</label>
        <input type="password" placeholder="Password" id="password1" name="password1">


        <label for="password2">Confrom Password*</label>
        <input type="password" placeholder="Confrom Password" id="password2" name="password2">
        <center>
            <button type="submit">Submit</button>
        </center>
       
    </form>
</body>
</html>