{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <title>Salowar Measurement</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Croissant+One&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gabarito:wght@800&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/salowar.css' %}"> 
</head>
<body>
    <div class="navbar">
        <ul>
            <li><a href="http://127.0.0.1:8000/homepage/">Home</a></li>
            {% comment %} <li><a href="http://127.0.0.1:8000/homepage/design/">Design</a></li>
            <li><a href="http://127.0.0.1:8000/homepage/fabric/">Fabric</a></li>
            <li><a href="http://127.0.0.1:8000/homepage/#section_4">Measurement Tutorial</a></li> {% endcomment %}
        </ul>
        <h3>Hello,User</h3>
    </div>
    
    <form action="" method="post">
        {% csrf_token %}
        <h3>Salowar's Measurement</h3>

        <label for="length">Length</label>
        <input type="text" placeholder="length" name="length" id="length">

        <label for="waist">Waist Length</label>
        <input type="text" placeholder="waist length" name="waist" id="waist">

        <label for="hip">Hip Length</label>
        <input type="text" placeholder="Hip Length" id="hip" name="hip">

        <label for="thigh">Thigh Length</label>
        <input type="text" placeholder="thigh" id="thigh" name="thigh">
        
        <label for="width">Width</label>
        <input type="text" placeholder="width" name="width" id="width">
        
        <center>
            <button type="submit" ><a href="payment2">Submit</a></button>
        </center>

    </form>
</body>
</html>